<%= form_for(@pg_proc) do |f| %>
  <% if @pg_proc.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pg_proc.errors.count, "error") %> prohibited this pg_proc from being saved:</h2>

      <ul>
      <% @pg_proc.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
